@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <p>来自Web2-CorsApi的数据： @ViewBag.result</p>
    </div>
</body>
</html>
